.no-webp .inicio {
    background-image: url(../img/headerTELL.jpg);
}

.webp .inicio {
    background-image: url(../img/headerTELL.webp);
}

.header {
    background-color: $grisOscuro;
    padding: 1rem 0 3rem 0;
    &.inicio {
        background-position: center center;
        background-size: cover;
        @include tablet {
            min-height: 70rem;
        }
        .contenido-header {
            @include tablet {
                min-height: 70rem;
            }
            span {
                font-weight: bolder;
                color: $tell;
            }
        }
    }
}

.contenido-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h1 {
        text-align: left;
        color: $blanco;
        font-weight: bold;
        line-height: 2;
        max-width: 90rem;
        background-color: rgba(224, 135, 9, 0.2);
    }
}