@include tablet {
    .contenedor-torneos {
        @include grid (3, 2rem)
    }
}

.torneo {
    h3 {
        font-weight: $black;
        color: $tell;
    }
    background-color: lighten($amarillo, 12);
    border: 1px solid darken($gris, 10);
    .contenido-torneo {
        padding: 2rem;
    }
    h3,
    p {
        margin: 0;
    }
    .precio {
        color: $verde;
        font-weight: $bold;
        font-size: 3rem;
    }
}

.iconos-caracteristicas {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    li {
        flex: 1;
        display: flex;
        flex-direction: row;
        padding: 1rem 0;
        span {
            font-weight: $regular;
        }
    }
    img {
        flex: 0 0 3rem;
        margin-right: 1rem;
        max-width: 50px;
    }
    p {
        font-weight: $black;
    }
}